*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color:white;
}
h1{
    font-size:120px;
    text-align: center;
    color:rgba(255,255,255,.4);
}
.parallax-1{
    background:url(./y-nghia-ten-goi-dat-nuoc-mat-troi-moc-nhat-ban.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-2{
    background:url(./NhatBan-2-1648437649.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-3{
    background:url(./okinawa.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-inner{
    padding:10% 0;
}
h2{
    font-size:20px;
    color:#555;
    text-align: center;
    font-weight:300;
    letter-spacing: 2px;
    margin:20px 0 10px;
}
p{
    font-size: 15px;
    color:#555;
    text-align: center;
    padding:10px;
    margin:0 50px 40px;
}
.footer{
    background-color: antiquewhite;
}
.footer h1{
    text-align: center;
    font-weight:bolder;
    color:rgb(153, 134, 134);
    font-size: 50px;
}
input[type=text],select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=password]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  label{
    display: inline-block;
  }
  .col-25{
  float: left;
  width: 10%;
  margin-top: 6px;
  margin-left:30px;
  font-weight: bolder;
  }
  .col-75{
    margin-top:6px;
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  input[type=submit]{
   
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 30px;
        margin-left:26%;
      }
      
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }