*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color:white;
}
h1{
    font-size:120px;
    text-align: center;
    color:rgba(255,255,255,.4);
}
.parallax-1{
    background:url(./y-nghia-ten-goi-dat-nuoc-mat-troi-moc-nhat-ban.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-2{
    background:url(./NhatBan-2-1648437649.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-3{
    background:url(./okinawa.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-inner{
    padding:10% 0;
}
h2{
    font-size:20px;
    color:#555;
    text-align: center;
    font-weight:300;
    letter-spacing: 2px;
    margin:20px 0 10px;
}
p{
    font-size: 15px;
    color:#555;
    text-align: center;
    padding:10px;
    margin:0 50px 40px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.truongtin{

    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}